@model IEnumerable<MobileGadget.Model.Phone>

<div class="row pb-4">
    @foreach (var phone in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row pb-6">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px">
                    <div class="card">
                        <img src="@phone.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@phone.OperatingSystem</p>
                                <a asp-controller="Phone" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                    Back to List
                                </a>
                               </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>
